*/*.pth
*/**/*.pth
*/**/**/*.pth
*/**/**/**/*.pth
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/*.swp
*/**/*.swp
*/**/**/*.swp
*/**/**/**/*.swp
*/*.txt
*/**/*.txt
*/**/**/*.txt
*/**/**/**/*.txt

data/HDD
data/THUMOS
data/JUDO/video_frames_*
data/JUDO/target_frames_*
data/JUDO/data_00
data/JUDO/metadati.csv
data/JUDO/i3d_224x224
data/JUDO/resnet2+1d_224x224_chunk6
data/JUDO/resnet2+1d_224x224_chunk9
data/JUDO/i3d_224x224_chunk6
data/JUDO/i3d_224x224_chunk9
data/JUDO/i3d_featuremaps_mixed4f_chunk9
data/JUDO/i3d_featuremaps_mixed5c_chunk9
data/JUDO/i3d_224x224_chunk12

Grand*

model_zoo/*

rgb_imagenet.pt

tools/*.json
tools/**/*.json
tools/**/**/*.json
tools/**/**/**/*.json

.idea
data/small_data_info.json
venv

runs
final_runs*
.DS_Store
*/*/.DS_Store
*.jpg