*/*.pth
*/**/*.pth
*/**/**/*.pth
*/**/**/**/*.pth
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/*.swp
*/**/*.swp
*/**/**/*.swp
*/**/**/**/*.swp
*/*.txt
*/**/*.txt
*/**/**/*.txt
*/**/**/**/*.txt

data

Grand*

model_zoo/*

rgb_imagenet.pt

tools/*.json
tools/**/*.json
tools/**/**/*.json
tools/**/**/**/*.json

.idea
data/small_data_info.json
venv

runs
final_runs*
.DS_Store
*/*/.DS_Store
*.jpg